In [2]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl

In [3]:
listing_df = pd.read_csv("../Resources/Housing_Market_Inventory_US.csv")
listing_df

,month_date_yyyymm,postal_code,zip_name,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count,pending_ratio,quality_flag
0,202204,49677,"reed city, mi",139900.0,6.0,41,8.0,0.0,0.0,9.0,89.0,1500.0,126400.0,13.0,1.5000,1
1,202204,32621,"bronson, fl",429000.0,5.0,175,0.0,0.0,0.0,4.0,178.0,2622.0,467250.0,9.0,0.8000,1
2,202204,28040,"ellenboro, nc",550000.0,11.0,34,12.0,0.0,0.0,12.0,189.0,1677.0,492669.0,23.0,1.0909,1
3,202204,64163,"kansas city, mo",269950.0,4.0,53,8.0,0.0,0.0,15.0,195.0,1434.0,257450.0,18.0,3.7500,1
4,202204,39203,"jackson, ms",25000.0,3.0,48,0.0,0.0,0.0,2.0,33.0,900.0,22650.0,5.0,0.6667,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,201903,72744,"lincoln, ar",130714.0,10.0,46,0.0,4.0,0.0,15.0,99.0,1350.0,219096.0,25.0,1.5000,1
1048571,201903,70444,"kentwood, la",256429.0,16.0,121,0.0,0.0,0.0,4.0,92.0,2057.0,322634.0,17.0,0.2500,1
1048572,201903,2451,"waltham, ma",712143.0,15.0,15,8.0,0.0,8.0,9.0,370.0,1961.0,744006.0,27.0,0.6000,1
1048573,201903,95251,"vallecito, ca",865000.0,7.0,157,4.0,0.0,0.0,2.0,360.0,2329.0,991773.0,9.0,0.2857,1
1048574,201903,14735,"fillmore, ny",93529.0,4.0,163,0.0,0.0,0.0,NaN,47.0,2334.0,84586.0,4.0,NaN,0

In [4]:
listing_df.head(-5)

,month_date_yyyymm,postal_code,zip_name,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count,pending_ratio,quality_flag
0,202204,49677,"reed city, mi",139900.0,6.0,41,8.0,0.0,0.0,9.0,89.0,1500.0,126400.0,13.0,1.5000,1
1,202204,32621,"bronson, fl",429000.0,5.0,175,0.0,0.0,0.0,4.0,178.0,2622.0,467250.0,9.0,0.8000,1
2,202204,28040,"ellenboro, nc",550000.0,11.0,34,12.0,0.0,0.0,12.0,189.0,1677.0,492669.0,23.0,1.0909,1
3,202204,64163,"kansas city, mo",269950.0,4.0,53,8.0,0.0,0.0,15.0,195.0,1434.0,257450.0,18.0,3.7500,1
4,202204,39203,"jackson, ms",25000.0,3.0,48,0.0,0.0,0.0,2.0,33.0,900.0,22650.0,5.0,0.6667,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048565,201903,26287,"parsons, wv",69900.0,2.0,125,0.0,0.0,0.0,7.0,35.0,2081.0,67751.0,9.0,3.5000,1
1048566,201903,21778,"rocky ridge, md",NaN,NaN,71,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,NaN,0
1048567,201903,19043,"holmes, pa",261429.0,4.0,63,0.0,0.0,0.0,1.0,130.0,2020.0,555971.0,5.0,0.2500,1
1048568,201903,79831,"alpine, tx",NaN,NaN,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1048569,201903,17552,"mount joy, pa",260100.0,40.0,63,20.0,0.0,16.0,3.0,126.0,2000.0,265265.0,43.0,0.0750,0

In [5]:
listing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 16 columns):
 #   Column                                Non-Null Count    Dtype
---  ------                                --------------    -----
 0   month_date_yyyymm                     1048575 non-null  int64
 1   postal_code                           1048575 non-null  int64
 2   zip_name                              1048575 non-null  object
 3   median_listing_price                  1046016 non-null  float64
 4   active_listing_count                  1046016 non-null  float64
 5   median_days_on_market                 1048575 non-null  int64
 6   new_listing_count                     1046813 non-null  float64
 7   price_increased_count                 1046813 non-null  float64
 8   price_reduced_count                   1046813 non-null  float64
 9   pending_listing_count                 856619 non-null   float64
 10  median_listing_price_per_square_foot  1033648 non-null  float64
 11  median_square_feet                    1033648 non-null  float64
 12  average_listing_price                 1046016 non-null  float64
 13  total_listing_count                   1046813 non-null  float64
 14  pending_ratio                         855852 non-null   float64
 15  quality_flag                          1048575 non-null  int64
dtypes: float64(11), int64(4), object(1)
memory usage: 128.0+ MB

In [6]:
listing_df["Year"] = listing_df["date"].str[0:4]

KeyError: 'date'

In [ ]:
listing_df["Month"] = listing_df["date"].str[8:10]
listing_df[['Year','Month']].dtypes

In [ ]:
get_year = lambda x: int(x.split("-")[0])
get_month = lambda x: int(x.split("-")[1])

pen = listing_df.copy()
pen['year_2'] = pen['date'].apply(get_year)
pen['month_2']=pen['date'].apply(get_month)
pen[['year_2','month_2']].dtypes

pen.head()

In [ ]:
pen.isna().sum()

In [ ]:
%%time
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

pen = listing_df.copy().sample(100)

pen = pen.dropna()

pen['year_2'] = pen['date'].apply(get_year)
pen['month_2']=pen['date'].apply(get_month)
pen[['year_2','month_2']].dtypes

pen = pen.drop(['date', 'state','Year','Month', 'city'],axis=1)

Y = pen['median_listing_price'].values
X = pen.drop('median_listing_price', axis=1).values

state = 42

x_train, x_test, y_train, y_test = train_test_split(X, Y, 
                                                    test_size=0.25, 
                                                    random_state= state)

model = RandomForestClassifier()

model.fit(x_train, y_train)

y_pred = model.predict(x_test)

# squared = false is for rmse,  squared = true then that is mse
mean_squared_error(y_test, y_pred, squared=False)

In [7]:
model.predict([X[0]])

NameError: name 'model' is not defined

In [8]:
X[0]

NameError: name 'X' is not defined

In [9]:
# apple = pen.iloc[3].values
# apple[11]= 2022
# print(np.array(apple))
orange = [i for i in range(12)]

model.predict([orange])

NameError: name 'model' is not defined

In [10]:
get_year = lambda x: int(x.split("-")[0])
get_month = lambda x: int(x.split("-")[1])

pen = listing_df.copy()
pen['year_2'] = pen['date'].apply(get_year)
pen['month_2']=pen['date'].apply(get_month)
pen[['year_2','month_2']].dtypes

pen.head()

KeyError: 'date'

In [11]:
listing_df.head()

,month_date_yyyymm,postal_code,zip_name,median_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count,pending_ratio,quality_flag
0,202204,49677,"reed city, mi",139900.0,6.0,41,8.0,0.0,0.0,9.0,89.0,1500.0,126400.0,13.0,1.5000,1
1,202204,32621,"bronson, fl",429000.0,5.0,175,0.0,0.0,0.0,4.0,178.0,2622.0,467250.0,9.0,0.8000,1
2,202204,28040,"ellenboro, nc",550000.0,11.0,34,12.0,0.0,0.0,12.0,189.0,1677.0,492669.0,23.0,1.0909,1
3,202204,64163,"kansas city, mo",269950.0,4.0,53,8.0,0.0,0.0,15.0,195.0,1434.0,257450.0,18.0,3.7500,1
4,202204,39203,"jackson, ms",25000.0,3.0,48,0.0,0.0,0.0,2.0,33.0,900.0,22650.0,5.0,0.6667,1

In [12]:
# import the csv
pen.to_csv('../Resources/Cleaned/training_data.csv', index=False)