In [2]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
import tensorflow as tf

In [3]:
# Import listing_info file
from google.colab import files
uploaded = files.upload()
listing_df = pd.read_csv("listing_info.csv")

Saving listing_info.csv to listing_info.csv

In [4]:
listing_df.head(-5)

,date,zip,lat,lng,state,city,population,density,median_listing_price,median_days_on_market,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count
0,2020-07-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,320000.0,30,182.0,1800.0,399248.0,51.0
1,2020-08-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,280000.0,27,175.0,1600.0,368038.0,51.0
2,2020-09-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,297450.0,23,174.0,1680.0,367193.0,62.0
3,2020-10-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,305000.0,42,173.0,1736.0,370583.0,94.0
4,2020-11-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,302500.0,44,173.0,1740.0,391833.0,93.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779546,2019-09-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,359900.0,49,168.0,1969.0,424337.0,86.0
779547,2019-10-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,327400.0,51,162.0,1938.0,407086.0,87.0
779548,2019-11-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,324999.0,58,163.0,2019.0,413238.0,81.0
779549,2019-12-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,335000.0,82,164.0,1956.0,426651.0,61.0
779550,2020-01-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,395000.0,83,164.0,2050.0,432608.0,50.0

In [5]:
listing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779556 entries, 0 to 779555
Data columns (total 14 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   date                                  779556 non-null  object
 1   zip                                   779556 non-null  int64
 2   lat                                   779556 non-null  float64
 3   lng                                   779556 non-null  float64
 4   state                                 779556 non-null  object
 5   city                                  779556 non-null  object
 6   population                            776210 non-null  float64
 7   density                               776210 non-null  float64
 8   median_listing_price                  779556 non-null  float64
 9   median_days_on_market                 779556 non-null  int64
 10  median_listing_price_per_square_foot  779556 non-null  float64
 11  median_square_feet                    779556 non-null  float64
 12  average_listing_price                 779556 non-null  float64
 13  total_listing_count                   779556 non-null  float64
dtypes: float64(9), int64(2), object(3)
memory usage: 83.3+ MB

In [6]:
listing_df["Year"] = listing_df["date"].str[0:4]

In [7]:
listing_df["Month"] = listing_df["date"].str[8:10]
listing_df[['Year','Month']].dtypes

Year     object
Month    object
dtype: object

In [8]:
get_year = lambda x: int(x.split("-")[0])
get_month = lambda x: int(x.split("-")[1])

pen = listing_df.copy()
pen['year_2'] = pen['date'].apply(get_year)
pen['month_2']=pen['date'].apply(get_month)
pen[['year_2','month_2']].dtypes

pen.head()

,date,zip,lat,lng,state,city,population,density,median_listing_price,median_days_on_market,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count,Year,Month,year_2,month_2
0,2020-07-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,320000.0,30,182.0,1800.0,399248.0,51.0,2020,01,2020,7
1,2020-08-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,280000.0,27,175.0,1600.0,368038.0,51.0,2020,01,2020,8
2,2020-09-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,297450.0,23,174.0,1680.0,367193.0,62.0,2020,01,2020,9
3,2020-10-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,305000.0,42,173.0,1736.0,370583.0,94.0,2020,01,2020,10
4,2020-11-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,302500.0,44,173.0,1740.0,391833.0,93.0,2020,01,2020,11

In [9]:
pen.isna().sum()

date                                       0
zip                                        0
lat                                        0
lng                                        0
state                                      0
city                                       0
population                              3346
density                                 3346
median_listing_price                       0
median_days_on_market                      0
median_listing_price_per_square_foot       0
median_square_feet                         0
average_listing_price                      0
total_listing_count                        0
Year                                       0
Month                                      0
year_2                                     0
month_2                                    0
dtype: int64

In [10]:
%%time
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

pen = listing_df.copy().sample(100)

pen = pen.dropna()

pen['year_2'] = pen['date'].apply(get_year)
pen['month_2']=pen['date'].apply(get_month)
pen[['year_2','month_2']].dtypes

pen = pen.drop(['date', 'state','Year','Month', 'city'],axis=1)

Y = pen['median_listing_price'].values
X = pen.drop('median_listing_price', axis=1).values

state = 42

x_train, x_test, y_train, y_test = train_test_split(X, Y, 
                                                    test_size=0.25, 
                                                    random_state= state)

model = RandomForestClassifier()

model.fit(x_train, y_train)

y_pred = model.predict(x_test)

# squared = false is for rmse,  squared = true then that is mse
mean_squared_error(y_test, y_pred, squared=False)

CPU times: user 349 ms, sys: 38.5 ms, total: 388 ms
Wall time: 744 ms

In [11]:
model.predict([X[0]])

array([150036.])

In [12]:
X[0]

array([ 6.195300e+04,  3.979803e+01, -8.828991e+01,  5.783000e+03,
        1.790000e+01,  9.900000e+01,  9.500000e+01,  1.694000e+03,
        1.632030e+05,  3.500000e+01,  2.020000e+03,  9.000000e+00])

In [13]:
# apple = pen.iloc[3].values
# apple[11]= 2022
# print(np.array(apple))
orange = [i for i in range(12)]

model.predict([orange])

array([47951.])

In [14]:
get_year = lambda x: int(x.split("-")[0])
get_month = lambda x: int(x.split("-")[1])

pen = listing_df.copy()
pen['year_2'] = pen['date'].apply(get_year)
pen['month_2']=pen['date'].apply(get_month)
pen[['year_2','month_2']].dtypes

pen.head()

,date,zip,lat,lng,state,city,population,density,median_listing_price,median_days_on_market,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count,Year,Month,year_2,month_2
0,2020-07-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,320000.0,30,182.0,1800.0,399248.0,51.0,2020,01,2020,7
1,2020-08-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,280000.0,27,175.0,1600.0,368038.0,51.0,2020,01,2020,8
2,2020-09-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,297450.0,23,174.0,1680.0,367193.0,62.0,2020,01,2020,9
3,2020-10-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,305000.0,42,173.0,1736.0,370583.0,94.0,2020,01,2020,10
4,2020-11-01,21286,39.41374,-76.57375,MD,Towson,19711.0,885.6,302500.0,44,173.0,1740.0,391833.0,93.0,2020,01,2020,11

In [2]:
listing_df.head()

NameError: name 'listing_df' is not defined

In [1]:
# import the csv
pen.to_csv('../Resources/Cleaned/training_data.csv', index=False)

NameError: name 'pen' is not defined